@{
    ViewData["Login"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
</div>
<form>
    <div class="container">
        <div class="form-group">
            <label for="usernamename"><b>Username</b></label>
            <input type="text" class="form-control" placeholder="Enter Username" name="usernamename" required>
        </div><br />
        <div class="form-group">
            <label for="password"><b>Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Password" name="password" required>
        </div><br />
        <button type="submit">Login</button>
    </div>
</form>

